<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nchu.software.page.mapper.PageContextMapper">

    <resultMap id="BaseMap" type="com.nchu.software.page.entity.PageContextEntity">
        <id property="pageContextId" column="pagecontextid"/>
        <result property="secondMenuId" column="secondmenuid"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="context" column="content"/>
        <result property="source" column="source"/>
        <result property="uploadTime" column="uploadTime"/>
        <result property="count" column="count"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="pagecontext">pagecontextid,secondmenuid,title,author,context,source,uploadtime,count,status</sql>

    <select id="getContextBySecondId" resultMap="BaseMap">
        select <include refid="pagecontext"/> from page_context where secondmenuid=#{secondId}
    </select>


</mapper>