body{
	font-family: "微软雅黑",arial,sans-serif,helvetica;
	font-size: 12px;
	background: #f8f8f8;
}
.main{
	width: 100%;
	background: url(../img/xyjj_slices/background.png) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*height: 100%;*/
	/*background-size: 100% 100%;*/
	background-position: center center;
}
.list-left{
	float: left;
	margin: 40px 0px 0px 0px;
	width: 18%;
	height: 500px;
}
.list-left ul{
	width: 100%;
	font-size: 20px;
	font-weight: lighter;
	border: 1px solid #aeaeae;
	/*text-align: center;*/
}
.catlog-selected{
	width: 100%;
	height: 55px;
	font-size: 28px;
	background: #293782;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}
.catlog li{
	width: 100%;
	height: 55px;
	list-style: none;
	border-bottom: 1px solid #aeaeae;
	text-align: center;
}
.catlog li a{
	display: block;
	line-height: 55px;
	height: 55px;
	text-decoration: none;
	color: #293782;
	font-size: 20px;
	font-weight: normal;
}
.catlog li:hover{
	background: #DDDDDD;
	font-weight: bold;
}
.nr-right{
	width: 60%;
	float: left;
	margin: 40px 0px 0px 50px;
}
.nr-top{
	width: 100%;
	height: 38px;
	font-size: 22px;
	color: #293782;
	background: url(../img/xyjj_slices/xian.png) no-repeat center bottom;
}

